
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Anasayfa</h2>
<div>
    <a class="btn btn-primary mx-1" href="/Employee/Index">Çalışan Listesi</a>
    <a class="btn btn-primary" href="/Department/Index">Departman Listesi</a>
    <a class="btn btn-primary" href="/Login/Index">Kullanıcılar Listesi</a>
</div>


